In [1]:
import pandas as pd 
from sqlalchemy import types
from sqlalchemy import create_engine

In [2]:
ENCODING = "ms949"
TARGETDATANAME = "kopo_product_volume"
DBPREFIX="oracle+cx_oracle" 
DBIP="127.0.0.1"
DBID="ST"
DBPW="ST"
DBPORT="1521"
DBNAME="XE"
VARCHARMAX = 100

#### 2.3. 작업_데이터 불러오기

In [3]:
indata = pd.read_csv("../dataset/kopo_product_volume.csv", encoding=ENCODING)
indata

    REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0        A01       ST0001    201415  810144
1        A01       ST0002    201415  128999
2        A01       ST0001    201418  671464
3        A01       ST0002    201418  134467
4        A01       ST0001    201413  470040
..       ...          ...       ...     ...
260      A01       ST0002    201614  148835
261      A01       ST0001    201641  746061
262      A01       ST0002    201412  151750
263      A01       ST0001    201420  645626
264      A01       ST0002    201420  125863

[265 rows x 4 columns]

#### 2.3. 작업_데이터 변형하기_upper( )

In [4]:
indata.columns = indata.columns.str.upper()
print(indata)

    REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0        A01       ST0001    201415  810144
1        A01       ST0002    201415  128999
2        A01       ST0001    201418  671464
3        A01       ST0002    201418  134467
4        A01       ST0001    201413  470040
..       ...          ...       ...     ...
260      A01       ST0002    201614  148835
261      A01       ST0001    201641  746061
262      A01       ST0002    201412  151750
263      A01       ST0001    201420  645626
264      A01       ST0002    201420  125863

[265 rows x 4 columns]

#### 2.3. 작업_데이터 변형하기_dtypes( )

In [5]:
indata.dtypes 
indata.columns[indata.dtypes == 'object']

Index(['REGIONID', 'PRODUCTGROUP'], dtype='object')

In [6]:
targetColumns = list( indata.columns[indata.dtypes == 'object'] ) 
print(targetColumns)
targetColumnsLen = len(targetColumns) 
print(targetColumnsLen)

typeDict = {}
for i in range(0, targetColumnsLen):
    typeDict[  targetColumns[i]  ] = types.VARCHAR(VARCHARMAX)
print(typeDict)

['REGIONID', 'PRODUCTGROUP']
2
{'REGIONID': VARCHAR(length=100), 'PRODUCTGROUP': VARCHAR(length=100)}

#### 2.4. DB 커넥션 생성 및 to_sql name 설정

In [9]:
dbconnectingInfo = "{}://{}:{}@{}:{}/{}".format(DBPREFIX,
                                             DBID,
                                             DBPW,
                                             DBIP,
                                             DBPORT,
                                             DBNAME)
engine = create_engine(dbconnectingInfo)
tablename = TARGETDATANAME.upper()

#### 2.5. 데이터베이스에 전송

In [7]:
indata.to_sql(name=tablename, con=engine, index=False, if_exists="replace", dtype=typeDict)

NameError: name 'tablename' is not defined